<div class='main-container main-facilities'>
<!--
    <div class='row'>
        <div class='col-1 col-xs-12 col-xxlg-12'>
            <div class='row'>
                <div class='img-1 col-xs-12 col-xlg-12' src='img/facilities-1.png'>
                    <img class='img-responsive' src='img/facilities-1.png'>
                </div>
                <div class='img-2 col-xs-12 col-xlg-12' src='img/facilities-2.png'>
                    <img class='img-responsive' src='img/facilities-1.png'>
                </div>
                <div class='img-3 col-xs-12' src='img/facilities-3.png'>
                    <img class='img-responsive' src='img/facilities-1.png'>
                </div>
            </div>
        </div>
        <div class='col-2 col-xs-12 col-xxlg-12'>
            <div class='row'>
                <div class='img-4 col-xs-12 col-xxlg-12' src='img/facilities-4.jpg'>
                    <img class='img-responsive' src='img/facilities-1.png'>
                </div>
                <div class='img-5 col-xs-12 col-xxlg-12' src='img/facilities-5.jpg'>
                    <img class='img-responsive' src='img/facilities-1.png'>
                </div>
            </div>
        </div>    
    </div>
-->
    
    <div style="position:absolute; left:0px; top:90px; width:1085px; height:648px;" data-scale-fit-width>
<!--        <a class="fancybox" rel="group" href="big_image_1.jpg"><img src="small_image_1.jpg" alt="" /></a>-->
        
        <a class='fancybox' href="img/facilities-phase-big-1.jpg" style="background-image:url(img/facilities-phase-1.png); position:absolute; left:0px; top:0px; width:390px; height:205px;" title="">
        </a>
        <a class='fancybox' href="img/facilities-phase-big-2.jpg" style="background-image:url(img/facilities-phase-2.png); position:absolute; left:394px; top:0px; width:253px; height:205px;" title="">
        </a>
        <a class='fancybox' href="img/facilities-phase-big-4.jpg" style="background-image:url(img/facilities-phase-4.png); position:absolute; left:651px; top:0px; width:433px; height:308px;" title="">
        </a>
        <a class='fancybox' href="img/facilities-phase-big-3.jpg" style="background-image:url(img/facilities-phase-3.png); position:absolute; left:0px; top:209px; width:647px; height:429px;" title="">
        </a>
        <a class='fancybox' href="img/facilities-phase-big-5.jpg" style="background-image:url(img/facilities-phase-5.png); position:absolute; left:651px; top:314px; width:434px; height:325px;" title="">
        </a>
    </div>
    
    
</div>

<div class='sidebar-right main-facilities'>
    <div class='sidebar-padding'>
        <h3 class='title'>UNIQUE FEATURES</h3>
        <p class='a-diverse'>A diverse charm and elegance, the indoor and outdoor life are bonded by the persona of Lake Point Residence. From the flora and fauna of lush landscapes to a variety of facilities, activities aplenty await at Lake Point Residence. Or venture into the vivacious world outside and enjoy all that life has to offer in this matured neighborhood.</p>
        <p class='a-wonderful'>A wonderful infrastructure means convenient commutes to and from wherever you need to go, while ample amenities make laughter and good times a constant companion here.  </p>
    </div>
</div>