<div class='main-container main-floorplan'>

</div>

<div class='sidebar-right main-floorplan'>
    <div class='sidebar-padding'>
        <h3 class='title'>
            FLOOR PLAN<br>
            PHASE 1<br>
            3-STOREY GARDEN TERRACE
        </h3>
        <div class='types'>
            <ul>
                <li><a href='javascript:;' data-type='A'>TYPE A</a></li>
                <li><a href='javascript:;' data-type='A1'>TYPE A1</a></li>
                <li><a href='javascript:;' data-type='A2'>TYPE A2</a></li>
                <li><a href='javascript:;' data-type='AA'>TYPE AA</a></li>
            </ul>
            <ul>
                <li><a href='javascript:;' data-type='B'>TYPE B</a></li>
                <li><a href='javascript:;' data-type='B1'>TYPE B1</a></li>
                <li><a href='javascript:;' data-type='B2'>TYPE B2</a></li>
                <li><a href='javascript:;' data-type='BB'>TYPE BB</a></li>
            </ul>
            <ul>
                <li><a href='javascript:;' data-type='C'>TYPE C</a></li>
            </ul>
        </div>
        <img class='img-responsive type-floor-plan' src='img/floorplan-2.jpg'>
        <p class='this-material'>This material is intended as an introduction to the general content and nature of the project, and does not form an offer, guarantee or contract. Images are artist's impressions only. Dimensions, fittings and specifications are indicative only and are subject to change without notice.  You should, prior to any purchase, carefully check the plans and specifications included in the Sale & Purchase Agreement (SPA), and review the terms of the SPA generally.</p>
    </div>
</div>