<div class='main-container main-concept'>
</div>

<div class='sidebar-right main-concept'>
    <div class='sidebar-padding'>
        <h3 class='title'>OVERVIEW</h3>
        <p class='overview-msg'>A façade that plays teasingly on visual senses. Lovingly sculptured against the golden skies, Lake Point Residence stand proudly as the redefined luxury garden link home. Ample living spaces and a collection of ‘must-have’ facilities are the catalyst that will ensure a complete and fulfilling time here.</p>
    </div>
</div>