<div class='main-container main-contact'>
    <!--    <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1?key=AIzaSyCme4_hTa9DRnbrvRlL1jsGRuiBcctHUdY&&center=-2.55104,101.39328&zoom=18&maptype=roadmap">-->
<!--    <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyCme4_hTa9DRnbrvRlL1jsGRuiBcctHUdY&center=2.919556,101.659111&zoom=18&maptype=roadmap">-->
    <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCme4_hTa9DRnbrvRlL1jsGRuiBcctHUdY&q=2.919556,101.659111&zoom=18">
    </iframe>
</div>

<div class='sidebar-right main-contact'>
    <div class='sidebar-padding'>
        <h3 class='title'>SALES GALLERY<br>LAKE POINT RESIDENCE</h3>
        <p class='address'>No.9, Cottage Walk.<br>Off Persiaran Apec,<br>63000 Cyberjaya,<br>Selangor Darul Ehsan.</p>
        <p class='open-daily'>Open daily from 10am to 6pm</p>

        <p class='tel'>Tel: 1-800-888-566 / +603 2181 0509</p>
    </div>
    
    <div class='sidebar-padding-left'>
        <p class='info'>GPS coordinates</p>
        <p class='coordinate'>2°55'10.4"N 101°39'32.8"E</p>
    </div>
    
    <div class='sidebar-padding'>
        <img class='img-responsive' src='img/contact-copy-1.png'>
    </div>
</div>
