<div class='main-container main-location'>
<!--
    <div id='wrapper'>
        <img id='scroller' width='1300' height='1000' src='img/location-3.jpg'>
    </div>
-->
    
    
</div>

<div class='sidebar-right main-location'>
    <div class='sidebar-padding'>
        <h3 class='title'>A Convenient<br>Way of Life</h3>
        <p class='lake-point'>Lake Point Residence is accessible from literally all corners of the Klang Valley. Jump off the Elite Highway and a couple of turns later, home looms in the horizon. And with the widest range of amenities and conveniences nearby from banking institutions to malls, schools to places of worship, every thing you need to enjoy life is everywhere you want it to be.</p>
        <ul>
            <li>10 km to Putrajaya</li>
            <li>15 km to Puchong and Sunway</li>
            <li>26 km to KLIA</li>
            <li>28 km to Petaling Jaya</li>
            <li>35 km to KL City Centre</li>
            <li>40 km to Port Klang</li>
        </ul>
    </div>
</div>